.hidden {
    display: none!important;
}

th {
    text-align: left;
}

.middle-text {
    display: flex;
    align-items: center;
}

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}