<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="static/js/handler.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/all.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{{_('Movies')}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">kdkj55 Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">

            <div class="nav navbar-nav">
                <button class="btn btn-dark" onclick="showMovies()">{{_('List of Movies')}} <span class="sr-only">(current)</span></button>
                <button class="btn btn-dark" onclick="showRatings()">{{_('List of Ratings')}}</button>
                <button class="btn btn-dark" onclick="showAccounts()">{{_('Account Management')}}</button>
                <button class="btn btn-dark" onclick="showRecommendations()">{{_('Get Movie Recommendations')}}</button>
            </div>

            <div class="nav navbar-nav navbar-nav-right">

                <span id="message" class="navbar-text">
                </span>

                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{_('User Select')}}
                    </button>
                    <div id="userSelector" class="dropdown-menu" role="menu" aria-labelledby="navbarDropdownMenuLink">

                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img id="languageIcon" src="static/images/en.png" alt="Language"/>
                        <span class="caret"></span>
                    </button>
                    <div id="languages" class="dropdown-menu dropdown-menu-right" role="menu" style="min-width:0">
                        <button id="en" onclick="switchLanguage('en')" class="dropdown-item language active"><img class="mr-2" src="static/images/en-small.png" alt="English"/>{{_('English')}}</button>
                        <button id="fr" onclick="switchLanguage('fr')" class="dropdown-item language"><img class="mr-2" src="static/images/fr-small.png" alt="French"/>{{_('French')}}</button>
                        <button id="de" onclick="switchLanguage('de')" class="dropdown-item language"><img class="mr-2" src="static/images/de-small.png" alt="German"/>{{_('German')}}</button>
                        <button id="es" onclick="switchLanguage('es')" class="dropdown-item language"><img class="mr-2" src="static/images/es-small.png" alt="Spanish"/>{{_('Spanish')}}</button>
                        <button id="zh" onclick="switchLanguage('zh')" class="dropdown-item language"><img class="mr-2" src="static/images/zh-small.png" alt="Chinese"/>{{_('Chinese')}}</button>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <div id="pageBar" class="toolbar my-2 d-flex justify-content-center" role="toolbar" aria-label="Button group with nested dropdown">

        <div class="middle-text mr-2">
            {{_('Page')}}:
        </div>

        <div id="pageButtons" class="btn-group mr-2" role="group" aria-label="Second group">

        </div>

        <div class="middle-text mr-2">
            {{_('Results per page')}}:
        </div>

        <div class="btn-group" role="group">
            <button id="perPage" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                20
            </button>
            <div id="perPageList" class="dropdown-menu" aria-labelledby="perPage">
                <button class="dropdown-item" onclick="updatePerPage(10)">10</button>
                <button class="dropdown-item active" onclick="updatePerPage(20)">20</button>
                <button class="dropdown-item" onclick="updatePerPage(50)">50</button>
                <button class="dropdown-item" onclick="updatePerPage(100)">100</button>
                <button class="dropdown-item" onclick="updatePerPage(200)">200</button>
            </div>
        </div>
    </div>

    <div id="moviesTab" class="d-flex justify-content-center">
        <table id="moviesTable" class="table table-striped">
            <thead>
                <tr>
                    <th>{{_('ID')}}</th>
                    <th>{{_('Movie')}}</th>
                    <th>{{_('Genre(s)')}}</th>
                </tr>
            </thead>
            <tbody id="moviesTableBody">
            </tbody>
        </table>
    </div>

    <div id="ratingsTab" class="d-flex justify-content-center hidden">
        <table id="ratingsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>{{_('User ID')}}</th>
                    <th>{{_('Movie ID')}}</th>
                    <th>{{_('Rating')}}</th>
                </tr>
            </thead>
            <tbody id="ratingsTableBody">
            </tbody>
        </table>
    </div>

    <div id="accountsTab" class="hidden">
        <div class="container my-3">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                    <label for="addUser">{{_('Create New User')}}</label>
                    <div class="input-group">
                        <input id="addUserName" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addUser">
                        <div class="input-group-append">
                            <button onclick="addUser()" class="btn btn-outline-dark" type="button" id="addUser">{{_('Add User')}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="changeOrDelete">
                <div class="row my-3 justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        <label for="saveUsername">{{_('Change Username')}}</label>
                        <div class="input-group">
                            <input id="nameEdit" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="saveUsername">
                            <div class="input-group-append">
                                <button onclick="changeName()" class="btn btn-outline-dark" type="submit" id="saveUsername">{{_('Save Username')}}</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        <button onclick="deleteCurrentUser()" class="btn btn-danger" id="deleteUser" style="width: 100%">{{_('Delete Current User')}}</button>
                    </div>
                </div>
            </div>

            <div id="pleaseSignIn" class="hidden">
                <div class="row my-3 justify-content-center">
                    <div class="col-md-9 col-lg-6" style="text-align: center;">
                        {{_('Please select a user account from the selector in the top-left corner.')}}
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div id="userRatingsTab" class="hidden">
            <h3>{{_('Your film reviews.')}}</h3>
            <div class="d-flex justify-content-center">
                <table id="userRatingsTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{_('Movie Title')}}</th>
                            <th>{{_('Rating')}}</th>
                            <th>{{_('Edit')}}</th>
                            <th>{{_('Delete')}}</th>
                        </tr>
                    </thead>
                    <tbody id="userRatingsTableBody">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade bd-example-modal-sm" id="updateRatingModal" tabindex="-1" role="dialog" aria-labelledby="updateRatingModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updateRatingModalLabel">{{_('Change Rating')}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="form-group">
                      <label for="newRating">{{_('Enter new rating')}}:</label>
                      <input type="number" class="form-control" id="newRating" min="0" max="5">
                  </div>
              </div>
              <div class="modal-footer">
                <button onclick="updateRating()" type="button" class="btn btn-secondary">{{_('Save Rating')}}</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{_('Close')}}</button>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div id="recommendationsTab" class="hidden">

        <div id="notSignedIn" class="hidden">
            <div class="row my-3 justify-content-center">
                <div class="col-md-9 col-lg-6" style="text-align: center;">
                    Displaying
                    <a id="tooltip" href="#" data-toggle="tooltip" title="Films with more than 50 reviews, sorted by average rating.">most popular</a>
                    films. Please log in to receive personalised recommendations.
                </div>
            </div>
        </div>

        <table id="recommendationsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>{{_('Movie')}}</th>
                    <th>{{_('Genre(s)')}}</th>
                    <th>{{_('Match')}}</th>
                </tr>
            </thead>
            <tbody id="recommendationsTableBody">
            </tbody>
        </table>
    </div>
</body>